<component name="ArtifactManager">
  <artifact type="war" build-on-make="true" name="springmvctest">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvctest</output-path>
    <root id="archive" name="springmvctest.war">
      <element id="javaee-facet-resources" facet="springmvctest/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvctest" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.10.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.10.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>